.jumbotron {
    background-color: #20315A;
     color: white;
}


h3 {
    color: #20315A;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.card-header {
    background-color: #20315A;
    color: white;
    font-weight: bold;
}

p {
    font-size: 10px;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
}

input {
    width: 100%;
}

#articles {
    margin-top: 25px;
}

.articles {
    background-color: lightsteelblue;
    margin: 5px;
}